<div class="">
  <nav class="navbar navbar-inverse bg-inverse">
    <li class="active"><%= link_to "Home", root_path, class: "item" %></li>
  </nav>
</div>
<div class="jumbotron">
  <h1>Weekend Getaways</h1>
  <h3 class="lead">Having one of those tough weeks at work? Sometimes we just need to getaway for the weekend.</h3>
</div>
